<!--<form class="form-signin">
  <h2>Login</h2>
  <label for="username" class="sr-only">Username</label>
  <input type="text" required autofocus id="username" #username placeholder="Username/Email" />
  <label for="password" class="sr-only">Password</label>
  <input type="password" class="form-control" required autofocus id="password" #password placeholder="Password" (keyup.enter)="login(username.value, password.value)" />
  <button type="button" class="large green" (click)="login(username.value, password.value)">Login</button>
</form>

<div class="form-structor">
	<div class="signup" ng-show="signup">
		<h2 class="form-title" id="signup" ng-click="toogle($event)"><span>or</span>Sign up</h2>
		<div class="form-holder">
			<input type="email" class="input" placeholder="Email" />
			<input type="password" class="input" placeholder="Password" />
		</div>
		<button class="submit-btn">Sign up</button>
	</div>
	<div class="login"[style.visibility] = "showLogin ? 'visible' : 'hidden' ">
      <div class="center">
        <h2 class="form-title" id="login" ><span>or</span>Log in</h2>
        <div class="form-holder">
          <input type="userName" class="input" placeholder="userName" formControlName="userName" (keyup.enter)="login(userName.value, password.value)"/>
          <input type="password" class="input" placeholder="Password" (keyup.enter)="login(username.value, password.value)"/>
        </div>
        <button class="submit-btn" (click)="toggle($event)">Log in</button>
      </div>
	</div>
</div>
-->

<!--ng-show="myForm.userName.$dirty && myForm.userName.$invalid"-->

<div class="middle" align="center">
  <div class="form-structor" >
    <div class="login">
        <div class="center">
          <h2 class="form-title" id="login">Log in</h2>
          <div class="form-holder">
            <input type="userName" class="input" placeholder="userName" value="hannes@stiebitzhofer.com" #userName required autofocus formControlName="userName" (keyup.enter)="login(userName.value, password.value)"/>
            <span style="color:red" *ngIf="showErrorUserName" [style.color] = "isSpecial">Username is required</span>
            <input type="password" class="input" placeholder="password" value="12345678" #password required (keyup.enter)="login(userName.value, password.value)"/>
            <span style="color:red" *ngIf="showErrorPassword" [style.color] = "isSpecial">Password is required</span>
          </div>
          <button class="small blue" (click)="login(userName.value, password.value)">&nbsp;&nbsp;&nbsp;&nbsp;Log in&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
    </div>
  </div>
</div>

<!--
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
  </form>
</nav>-->

<!--<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>-->
