<!--<div class="form-structor">
	<div class="signup" ng-show="signup">
		<h2 class="form-title" id="signup" ng-click="toogle($event)"><span>or</span>Sign up</h2>
		<div class="form-holder">
			<input type="email" class="input" placeholder="Email" />
			<input type="password" class="input" placeholder="Password" />
		</div>
		<button class="submit-btn">Sign up</button>
	</div>
	<div class="login"[style.visibility] = "showLogin ? 'visible' : 'hidden' ">
      <div class="center">
        <h2 class="form-title" id="login" ><span>or</span>Log in</h2>
        <div class="form-holder">
          <input type="userName" class="input" placeholder="userName" formControlName="userName" (keyup.enter)="login(userName.value, password.value)"/>
          <input type="password" class="input" placeholder="Password" (keyup.enter)="login(username.value, password.value)"/>
        </div>
        <button class="submit-btn" (click)="toggle($event)">Log in</button>
      </div>
	</div>
</div>
-->

<!--ng-show="myForm.userName.$dirty && myForm.userName.$invalid"-->
<!--
<div class="middle" align="center">
  <div class="form-structor" >
    <div class="login">
        <div class="center">
          <h2 class="form-title" id="login">Log in</h2>
          <div class="form-holder">
            <input type="userName" class="input" placeholder="userName" value="hannes@stiebitzhofer.com" #userName required autofocus formControlName="userName" (keyup.enter)="login(userName.value, password.value)"/>
            <span style="color:red" *ngIf="showErrorUserName" [style.color] = "isSpecial">Username is required</span>
            <input type="password" class="input" placeholder="password" value="12345678" #password required (keyup.enter)="login(userName.value, password.value)"/>
            <span style="color:red" *ngIf="showErrorPassword" [style.color] = "isSpecial">Password is required</span>
          </div>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="login(userName.value, password.value)">&nbsp;&nbsp;&nbsp;&nbsp;Log in&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
    </div>
  </div>
</div>
-->

<main>
<form class="form-signin" novalidate>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Username</label>
  <input type="userName" id="userName" class="form-control" placeholder="userName" value="hannes@stiebitzhofer.com" #userName required (keyup.enter)="login(userName.value, password.value)" autofocus>
  <span style="color:red" *ngIf="showErrorUserName">Username is required</span>
  <img src="../../../images/NFFFFFF-0.png"><br>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="password" class="form-control" placeholder="password" value="12345678" #password required (keyup.enter)="login(userName.value, password.value)" required>
  <span style="color:red" *ngIf="showErrorPassword">Password is required</span>
  <div class="invalid-feedback">
      Your password must be 8-20 characters long, contain letters and numbers.
  </div>
  <small id="passwordHelpBlock" class="form-text text-muted">
      Please enter your Username and Password.
  </small>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login(userName.value, password.value)">Sign in</button>
</form>
</main>

<!--
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
  </form>
</nav>-->

<!--<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>-->

